h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

.noselect {
    -webkit-touch-callout: none;  
    -webkit-user-select: none;
    -khtml-user-select: none;  
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.table-header:hover {
    cursor: pointer;
}

button {
    font-weight: bold !important;
}